USE [eJarDbReportsQA]
GO
/****** Object:  StoredProcedure [dbo].[SchedulerExecuter]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   Proc [dbo].[SchedulerExecuter] @Queue nvarchar(max)='Q1'
as
begin
	set nocount on
	Drop table if exists #Queue
	create table #Queue (Id int,Command nvarchar(max),ContextServer nvarchar(max),ContextDB nvarchar(max))
	--10Minutes
	insert into #Queue
	select Id,Command,ContextServer,ContextDB
	from SchedulerConfiguration
	where ScheduleType='10Minutes' 
	and datepart(hour,getdate()) not in (select value from string_split(ExcludedHours,','))
	and Queue='Q1'
	and IsActive=1

	--Hourly
	insert into #Queue
	select Id,Command,ContextServer,ContextDB
	from SchedulerConfiguration a
	where ScheduleType='Hourly' 
	and datepart(hour,getdate()) not in (select value from string_split(ExcludedHours,','))
	and not exists (select 1 from SchedulerExecutionHistory b where b.SchedulerConfigurationId=a.Id and cast(b.StartTime as date)=cast(getdate() as date) and datepart(hour,StartTime)=datepart(hour,getdate()))
	and Queue='Q1'
	and IsActive=1
	
	--Daily
	insert into #Queue
	select Id,Command,ContextServer,ContextDB
	from SchedulerConfiguration a
	where ScheduleType='Daily' 
	and datepart(hour,getdate()) in (select value from string_split(DayHours,','))
	and not exists (select 1 from SchedulerExecutionHistory b where b.SchedulerConfigurationId=a.Id and cast(b.StartTime as date)=cast(getdate() as date) and datepart(hour,StartTime)=datepart(hour,getdate()))
	and Queue='Q1'
	and IsActive=1
	
	--Weekly
	insert into #Queue
	select Id,Command,ContextServer,ContextDB
	from SchedulerConfiguration a
	where ScheduleType='Weekly' 
	and datepart(hour,getdate()) in (select value from string_split(DayHours,','))
	and Datepart(dw,getdate())in (select value from string_split(weekdays,','))
	and not exists (select 1 from SchedulerExecutionHistory b where b.SchedulerConfigurationId=a.Id and cast(b.StartTime as date)=cast(getdate() as date) and datepart(hour,StartTime)=datepart(hour,getdate()))
	and Queue='Q1'
	and IsActive=1
	
	--Monthly
	insert into #Queue
	select Id,Command,ContextServer,ContextDB
	from SchedulerConfiguration a
	where ScheduleType='Monthly' 
	and datepart(hour,getdate()) in (select value from string_split(DayHours,','))
	and Datepart(day,getdate()) in (select value from string_split(monthdays,','))
	and not exists (select 1 from SchedulerExecutionHistory b where b.SchedulerConfigurationId=a.Id and cast(b.StartTime as date)=cast(getdate() as date) and datepart(hour,StartTime)=datepart(hour,getdate()))
	and Queue='Q1'
	and IsActive=1

	declare @ID int,@Command nvarchar(max),@ContextServer nvarchar(max),@ContextDB nvarchar(max),@SQL nvarchar(max),@ErrorMsg nvarchar(max),@Start datetime,@End datetime
	while (select count(*) from #queue)>0
	begin
		
		select top 1 @ID=ID,@Command=command,@ContextServer=ContextServer,@ContextDB=ContextDB 
		from #queue 
		order by Id

		set @SQL='exec (''Use ['+@ContextDB+']'+char(10)+char(13)+replace(@command,'''','''''')+''')'
		+ case when @ContextServer='localhost' then '' else ' AT ['+@ContextServer+']' end

		begin try
			set @Start = getdate()
			exec (@SQL)
			print @SQL
		end try
		begin catch
			select @ErrorMsg=Error_message() 
		end catch
		set @End = getdate()

		insert into SchedulerExecutionHistory (SchedulerConfigurationId,StartTime,EndTime,ErrorMsg)
		select @Id,@Start,@End,@ErrorMsg

		delete from #queue where id=@Id

	end
end
GO
