USE [master]
GO
/****** Object:  StoredProcedure [dbo].[QueryStoreSummary]    Script Date: 30/11/2022 8:37:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create    proc [dbo].[QueryStoreSummary] @DatabaseName nvarchar(25)=null, @AvgDuration int=null, @TotalDuration int=null, @LogicalReads int=null, @ObjectName nvarchar(50)=null,@Top int=10
,@DurationInDays int=14,@QueryLike nvarchar(max)=null, @QueryID int=null
as
begin
	
	declare @use nvarchar(max)=N''
	
	if @DatabaseName is null
	begin
		declare @sql nvarchar(max)='exec master..QueryStoreSummary ''?'''
		+','+isnull(cast(@AvgDuration as nvarchar(5)),'null')
		+','+isnull(cast(@TotalDuration as nvarchar(5)),'null')
		+','+isnull(cast(@LogicalReads as nvarchar(5)),'null')
		+','+isnull(''''+@ObjectName+'''','null')
		+','+isnull(cast(@Top as nvarchar(5)),'10')
		+','+isnull(cast(@DurationInDays as nvarchar(5)),'14')
		+','+isnull(''''+@QueryLike+'''','null')
		+','+isnull(cast(@QueryID as nvarchar(5)),'null')
		print @sql
		exec msdb..sp_MSforeachdb @sql
	end

	else
	begin
		set @use = N'USE '+@DatabaseName 

		set @use = @use+N'
		drop table if exists #Scope
		create table #Scope (Test nvarchar(50), query_id bigint)
		if @AvgDuration=1
		begin
		insert into #Scope
		select cast(''AVG_DURATION'' as varchar(100)) Test,r.query_id  
		FROM (select top (@Top) q.query_id,avg(avg_duration) Total_duration
		from sys.query_store_query_text AS qt JOIN sys.query_store_query AS q ON qt.query_text_id = q.query_text_id 
		JOIN sys.query_store_plan AS p ON q.query_id = p.query_id 
		JOIN sys.query_store_runtime_stats AS rs ON p.plan_id = rs.plan_id 
		where rs.last_execution_time>dateadd(day,-1*@DurationInDays,getdate()) 
		group by q.query_id having sum(count_executions)>50
		order by 2 desc) r
		end
		if @TotalDuration=1
		begin
		insert into #Scope
		select ''TOTAL_DURATION'' Test,r.query_id  
		FROM (select top (@Top) q.query_id,sum(count_executions*avg_duration) Total_duration
		from sys.query_store_query_text AS qt JOIN sys.query_store_query AS q ON qt.query_text_id = q.query_text_id 
		JOIN sys.query_store_plan AS p ON q.query_id = p.query_id 
		JOIN sys.query_store_runtime_stats AS rs ON p.plan_id = rs.plan_id
		where rs.last_execution_time>dateadd(day,-1*@DurationInDays,getdate()) 
		group by q.query_id having sum(count_executions)>50
		order by 2 desc) r
		end
		if @LogicalReads=1
		begin
		insert into #Scope
		select ''LOGICAL_READS'' Test,r.query_id  
		FROM (select top (@Top) q.query_id,avg(avg_logical_io_reads) avg_logical_io_reads
		from sys.query_store_query_text AS qt JOIN sys.query_store_query AS q ON qt.query_text_id = q.query_text_id 
		JOIN sys.query_store_plan AS p ON q.query_id = p.query_id 
		JOIN sys.query_store_runtime_stats AS rs ON p.plan_id = rs.plan_id 
		where rs.last_execution_time>dateadd(day,-1*@DurationInDays,getdate()) 
		group by q.query_id having sum(count_executions)>50
		order by 2 desc) r
		end
		if @ObjectName is not null
		begin
		insert into #Scope
		select  cast(''Exact_Object'' as varchar(100)) Test,r.query_id  
		FROM (select q.query_id,avg(avg_duration) Total_duration
		from sys.query_store_query_text AS qt JOIN sys.query_store_query AS q ON qt.query_text_id = q.query_text_id 
		JOIN sys.query_store_plan AS p ON q.query_id = p.query_id 
		JOIN sys.query_store_runtime_stats AS rs ON p.plan_id = rs.plan_id 
		where q.object_id=object_id(@ObjectName) and rs.last_execution_time>dateadd(day,-1*@DurationInDays,getdate()) 
		group by q.query_id) r
		end
		if @QueryLike is not null
		begin
		insert into #Scope
		select  cast(''Query Like'' as varchar(100)) Test,r.query_id  
		FROM (select q.query_id,avg(avg_duration) Total_duration
		from sys.query_store_query_text AS qt JOIN sys.query_store_query AS q ON qt.query_text_id = q.query_text_id 
		JOIN sys.query_store_plan AS p ON q.query_id = p.query_id 
		JOIN sys.query_store_runtime_stats AS rs ON p.plan_id = rs.plan_id 
		where qt.query_sql_text like ''%''+@QueryLike+''%'' COLLATE DATABASE_DEFAULT
		and rs.last_execution_time>dateadd(day,-1*@DurationInDays,getdate()) 
		group by q.query_id) r
		end
		if @QueryID is not null
		begin
		insert into #Scope
		select  cast(''QueryId'' as varchar(100)) Test,r.query_id  
		FROM (select q.query_id,avg(avg_duration) Total_duration
		from sys.query_store_query_text AS qt JOIN sys.query_store_query AS q ON qt.query_text_id = q.query_text_id 
		JOIN sys.query_store_plan AS p ON q.query_id = p.query_id 
		JOIN sys.query_store_runtime_stats AS rs ON p.plan_id = rs.plan_id 
		where q.query_id=@QueryId and rs.last_execution_time>dateadd(day,-1*@DurationInDays,getdate()) 
		group by q.query_id) r
		end
		drop table if exists #Result
		SELECT s.Test,q.query_id,db_name() DatabaseName,isnull(object_name(object_id),''ADHOC QUERY'') ProcedureName,qt.query_sql_text
		,sum(count_executions) Executions
		,cast(avg(avg_duration)/1000000.0 as decimal(18,2)) avg_duration
		,cast(sum(count_executions*avg_duration)/1000000.0 as decimal(18,2)) Total_Duration
		,cast(max(max_duration)/1000000.0 as decimal(18,2)) max_duration
		,cast(min(min_duration)/1000000.0 as decimal(18,2)) min_duration
		,cast(AVG(avg_logical_io_reads) as int) Avg_LogicalReads
		into #Result
		FROM sys.query_store_query_text AS qt
		JOIN sys.query_store_query AS q
		ON qt.query_text_id = q.query_text_id
		join #Scope s on s.query_id=q.query_id
		JOIN sys.query_store_plan AS p
		ON q.query_id = p.query_id
		JOIN sys.query_store_runtime_stats AS rs
		ON p.plan_id = rs.plan_id
		where rs.last_execution_time>dateadd(day,-1*@DurationInDays,getdate()) 
		group by s.Test,q.query_id,qt.query_sql_text,object_id
		order by avg_duration desc
		if @TotalDuration=1
		select *
		from #result q
		outer apply (select ProjectedImpact,CONCAT(''create index IX_'',replace(replace(TableName,'']'',''''),''['',''''),''_'',replace(replace(replace(IndexColumns,'']'',''''),''['',''''),'', '',''_''),'' on '',TableDatabase,''.'',TableSchema,''.'',TableName,''('',IndexColumns,'')'',''include (''+IncludedColumns+'')'') MissingIndex,''exec sp_blitzindex @DatabaseName=''''''+replace(replace(TableDatabase,'']'',''''),''['','''')+'''''',@TableName=''''''+replace(replace(TableName,'']'',''''),''['','''')+'''''''' MoreDetails from master.dbo.GetMissingIndexDetailsFromXMLPlan((
		SELECT TOP 1 qsp2.query_plan
		from sys.query_store_plan qsp2
		WHERE qsp2.query_id=q.query_id
		ORDER BY qsp2.plan_id DESC
		))) MissingIndexDetails
		where Test=''TOTAL_DURATION''
		order by Total_Duration desc
		if @AvgDuration=1
		select *
		from #result q
		outer apply (select ProjectedImpact,CONCAT(''create index IX_'',replace(replace(TableName,'']'',''''),''['',''''),''_'',replace(replace(replace(IndexColumns,'']'',''''),''['',''''),'', '',''_''),'' on '',TableDatabase,''.'',TableSchema,''.'',TableName,''('',IndexColumns,'')'',''include (''+IncludedColumns+'')'') MissingIndex,''exec sp_blitzindex @DatabaseName=''''''+replace(replace(TableDatabase,'']'',''''),''['','''')+'''''',@TableName=''''''+replace(replace(TableName,'']'',''''),''['','''')+'''''''' MoreDetails from master.dbo.GetMissingIndexDetailsFromXMLPlan((
		SELECT TOP 1 qsp2.query_plan
		from sys.query_store_plan qsp2
		WHERE qsp2.query_id=q.query_id
		ORDER BY qsp2.plan_id DESC
		))) MissingIndexDetails
		where Test=''AVG_DURATION''
		order by AVG_DURATION desc
		if @LogicalReads=1
		select *
		from #result q
		outer apply (select ProjectedImpact,CONCAT(''create index IX_'',replace(replace(TableName,'']'',''''),''['',''''),''_'',replace(replace(replace(IndexColumns,'']'',''''),''['',''''),'', '',''_''),'' on '',TableDatabase,''.'',TableSchema,''.'',TableName,''('',IndexColumns,'')'',''include (''+IncludedColumns+'')'') MissingIndex,''exec sp_blitzindex @DatabaseName=''''''+replace(replace(TableDatabase,'']'',''''),''['','''')+'''''',@TableName=''''''+replace(replace(TableName,'']'',''''),''['','''')+'''''''' MoreDetails from master.dbo.GetMissingIndexDetailsFromXMLPlan((
		SELECT TOP 1 qsp2.query_plan
		from sys.query_store_plan qsp2
		WHERE qsp2.query_id=q.query_id
		ORDER BY qsp2.plan_id DESC
		))) MissingIndexDetails
		where Test=''LOGICAL_READS''
		order by Avg_LogicalReads desc
		if @ObjectName is not null
		select *
		from #result q
		outer apply (select ProjectedImpact,CONCAT(''create index IX_'',replace(replace(TableName,'']'',''''),''['',''''),''_'',replace(replace(replace(IndexColumns,'']'',''''),''['',''''),'', '',''_''),'' on '',TableDatabase,''.'',TableSchema,''.'',TableName,''('',IndexColumns,'')'',''include (''+IncludedColumns+'')'') MissingIndex,''exec sp_blitzindex @DatabaseName=''''''+replace(replace(TableDatabase,'']'',''''),''['','''')+'''''',@TableName=''''''+replace(replace(TableName,'']'',''''),''['','''')+'''''''' MoreDetails from master.dbo.GetMissingIndexDetailsFromXMLPlan((
		SELECT TOP 1 qsp2.query_plan
		from sys.query_store_plan qsp2
		WHERE qsp2.query_id=q.query_id
		ORDER BY qsp2.plan_id DESC
		))) MissingIndexDetails
		where Test=''Query Like'' order by max_duration desc
		if @QueryLike is not null
		select *
		from #result q
		outer apply (select ProjectedImpact,CONCAT(''create index IX_'',replace(replace(TableName,'']'',''''),''['',''''),''_'',replace(replace(replace(IndexColumns,'']'',''''),''['',''''),'', '',''_''),'' on '',TableDatabase,''.'',TableSchema,''.'',TableName,''('',IndexColumns,'')'',''include (''+IncludedColumns+'')'') MissingIndex,''exec sp_blitzindex @DatabaseName=''''''+replace(replace(TableDatabase,'']'',''''),''['','''')+'''''',@TableName=''''''+replace(replace(TableName,'']'',''''),''['','''')+'''''''' MoreDetails from master.dbo.GetMissingIndexDetailsFromXMLPlan((
		SELECT TOP 1 qsp2.query_plan
		from sys.query_store_plan qsp2
		WHERE qsp2.query_id=q.query_id
		ORDER BY qsp2.plan_id DESC
		))) MissingIndexDetails
		where Test=''Query Like'' order by max_duration desc
		if @QueryID is not null
		select *
		from #result q
		outer apply (select ProjectedImpact,CONCAT(''create index IX_'',replace(replace(TableName,'']'',''''),''['',''''),''_'',replace(replace(replace(IndexColumns,'']'',''''),''['',''''),'', '',''_''),'' on '',TableDatabase,''.'',TableSchema,''.'',TableName,''('',IndexColumns,'')'',''include (''+IncludedColumns+'')'') MissingIndex,''exec sp_blitzindex @DatabaseName=''''''+replace(replace(TableDatabase,'']'',''''),''['','''')+'''''',@TableName=''''''+replace(replace(TableName,'']'',''''),''['','''')+'''''''' MoreDetails from master.dbo.GetMissingIndexDetailsFromXMLPlan((
		SELECT TOP 1 qsp2.query_plan
		from sys.query_store_plan qsp2
		WHERE qsp2.query_id=q.query_id
		ORDER BY qsp2.plan_id DESC
		))) MissingIndexDetails
		where Test=''QueryID'' order by max_duration desc'
		--select len( @use),@use
		exec sp_executesql @Use,N'@AvgDuration int=null, @TotalDuration int=null, @LogicalReads int=null, @ObjectName nvarchar(250)=null,@Top int,@DurationInDays int,@QueryLike nvarchar(max),@QueryID int',@AvgDuration=@AvgDuration, @TotalDuration=@TotalDuration, @LogicalReads=@LogicalReads, @ObjectName=@ObjectName,@Top=@Top,@DurationInDays=@DurationInDays,@QueryLike=@QueryLike, @QueryID =@QueryID
	end
end



/*
exec master..QueryStoreSummary @LogicalReads=1,@DurationInDays=7
exec master..QueryStoreSummary @AvgDuration=1,@DurationInDays=7
exec master..QueryStoreSummary @TotalDuration=1,@DurationInDays=7
*/
GO
