USE [eJarDbReportsQA]
GO
/****** Object:  StoredProcedure [dbo].[dba_sendmail]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[dba_sendmail] @ProcId int,@mailbody nvarchar(max),@attached nvarchar(max)
as
begin
	
	declare @to nvarchar(max),@cc nvarchar(max),@bcc nvarchar(max),@subject nvarchar(max)

	select @to=ToEmailList,@cc=CCEmailList,@bcc=BCCEmailList,@subject=Subject
	from ReportsEmailList
	where SchemaName=OBJECT_SCHEMA_NAME(@ProcId) and ProcName=object_name(@ProcId)
	
	exec msdb..sp_send_dbmail
	@recipients = @to,
	@copy_recipients = @cc,
	@blind_copy_recipients=@bcc,
	@subject = @subject,
	@file_attachments = @attached,
	@body = @mailbody
end
GO
