USE [master]
GO
/****** Object:  StoredProcedure [dbo].[sp_BlitzSearchQueryID]    Script Date: 30/11/2022 8:37:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create   Proc [dbo].[sp_BlitzSearchQueryID] @DatabaseName nvarchar(1000) = null,@QueryLike nvarchar(1000)=null, @ObjectName nvarchar(1000)=null  
as  
begin

	declare @SQL nvarchar(4000)
	if @DatabaseName is null set @DatabaseName=DB_Name()
	set @SQL = 'USE '+@DatabaseName+'
SELECT q.query_id, t.query_sql_text, object_name(q.object_id) AS parent_object ,q.avg_bind_cpu_time  
FROM sys.query_store_query_text t JOIN sys.query_store_query q ON t.query_text_id = q.query_text_id   
WHERE ( t.query_sql_text collate SQL_Latin1_General_CP1_CI_AS LIKE  N''%''+@QueryLike+''%''  or @QueryLike is null )  and   
( object_name(q.object_id) = @ObjectName collate SQL_Latin1_General_CP1_CI_AS or @ObjectName is null )  
order by avg_bind_cpu_time desc
'
print @sql
exec sp_executesql @SQL,N'@DatabaseName nvarchar(1000) ,@QueryLike nvarchar(1000), @ObjectName nvarchar(1000)',@DatabaseName=@DatabaseName,@QueryLike=@QueryLike,@ObjectName=@ObjectName
end
GO
