/****** Object:  UserDefinedFunction [dbo].[EmailCss_Get]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[EmailCss_Get]()
RETURNS nvarchar(max)
AS

BEGIN
    DECLARE @Style nvarchar(max),
            --Use variables for font-family & colors
            --Makes it easier to update them later
            @FontFamily nvarchar(200) = '''Segoe UI'',''Arial'',''Helvetica''',
            @ColorBoldText nvarchar(7) = '#032E57',
            @ColorAlertText nvarchar(7) = '#DC080A',
            @ColorBackground nvarchar(7) = '#D0CAC4',
            @ColorBackground2 nvarchar(7) = '#E4F1FE',
            @ColorBackgroundAlert nvarchar(7) = '#FEF1E4';
    
    
    SET @Style = N'<style>
      body {font-family:' + @FontFamily + '; 
            font-size:''12px''}
      p    {font-family:' + @FontFamily + '; 
            font-size:''12px''}
      div  {font-family:' + @FontFamily + '; 
            font-size:''12px''}
      h1   {color:' + @ColorBoldText + ';
            font-family:' + @FontFamily + '; 
            font-size:''24px''}
      h2   {color:' + @ColorBoldText + ';
            font-family:' + @FontFamily + '; 
            font-size:''18px''}
      h3   {color:' + @ColorBoldText + ';
            font-family:' + @FontFamily + '; 
            font-size:''14px''}
      table,th,td {font-family:' + @FontFamily + ';
                   font-size:''12px'';padding-right: 5px;
          padding-left: 5px;
          border-bottom: thin solid ' + @ColorBoldText + ';}
      tr:nth-child(even) {background-color:' + @ColorBackground2 + '}
      th   {background-color:' + @ColorBackground + ';
            font-size:''13px''}
      .alert    {color: ' + @ColorAlertText + '}
      .alertbg  {color: ' + @ColorAlertText + ';
                font-weight: bold;
                background-color:' + @ColorBackgroundAlert + ' 
</style>';
    RETURN(@Style);
END;
GO
