USE [eJarDbReportsQA]
GO
/****** Object:  StoredProcedure [dbo].[GeneratePivotInTable]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GeneratePivotInTable] (
   @unknownValsCol NVARCHAR (max),
   @objNameToPivot NVARCHAR (100),
   @aggFuncOfPivot NVARCHAR (10),
   @aggColOfPivot NVARCHAR (100),
   @leadColPivot NVARCHAR (100),
   @WhereCondition nvarchar(1000),
   @IsNullReplacement nvarchar(100),
   @GenerateDeltaColumn int = null,
   @GenerateTotalColumn int = null
 )
AS
BEGIN
   DECLARE @columns NVARCHAR (max),@columns2 NVARCHAR (max),@Deltacolumns nvarchar(2000)='',@TotalColumns nvarchar(2000)=''
      ,@tsql NVARCHAR (max)
   DECLARE @distinctVals TABLE (val NVARCHAR (50))

   SET NOCOUNT ON
   SET @columns = N'';
   SET @columns2 = N'';
   if @WhereCondition is null set @WhereCondition = N'';
   SET @tsql = CONCAT ('SELECT DISTINCT ', @unknownValsCol,' FROM ',@objNameToPivot,' r ',@WhereCondition)+' ORDER BY 1'
   INSERT @distinctVals EXEC (@tsql)

   SELECT @columns += CONCAT ('[', Val,']',',')
   FROM @distinctVals
   SELECT @columns2 += CONCAT ('isnull([', Val,'],',@IsNullReplacement,') ','[', Val,']',',')
   FROM @distinctVals

   if @GenerateDeltaColumn=1
   begin
   SELECT @Deltacolumns += CONCAT ('isnull([', Val,'],0)','-')
   FROM @distinctVals
   order by Val desc
   SET @Deltacolumns = LEFT (@Deltacolumns, LEN (@Deltacolumns) - 1)
   set @Deltacolumns =','+@Deltacolumns+' as Delta'
   end
   
   if @GenerateTotalColumn=1
   begin
   SELECT @TotalColumns += CONCAT ('isnull([', Val,'],0)','+')
   FROM @distinctVals
   order by Val desc
   SET @TotalColumns = LEFT (@TotalColumns, LEN (@TotalColumns) - 1)
   set @TotalColumns =','+@TotalColumns+' as Total'
   end

   SET @columns = LEFT (@columns, LEN (@columns) - 1)
   SET @columns2 = LEFT (@columns2, LEN (@columns2) - 1)
   if OBJECT_ID('tempdb..##Result') is not null drop table ##Result
   
   SET @tsql = CONCAT ( 'SELECT ', @leadColPivot,@Deltacolumns,   ',', @columns2,@TotalColumns,char(10),' into ##Result FROM ',char(10),' ( SELECT ',@leadColPivot,',',char(10),
         @aggColOfPivot,' as x,',   @unknownValsCol,   ' FROM ',   @objNameToPivot,' r ', @WhereCondition,  ') as t ',
         ' PIVOT (', @aggFuncOfPivot,'(t.x) FOR ',char(10),   @unknownValsCol,
         '   IN (', @columns,')) as pvt ',char(10),' ORDER BY ',   @leadColPivot)
   
   EXEC (@tsql)
   print @tsql
   SET NOCOUNT OFF
END
GO
