USE [eJarDbReportsQA]
GO
/****** Object:  StoredProcedure [dbo].[GetAllTableSizes]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[GetAllTableSizes]
as
begin
	SET NOCOUNT ON 
	IF OBJECT_ID('tempdb..#SpaceUsed') IS NOT NULL DROP TABLE #SpaceUsed
	CREATE TABLE #SpaceUsed (TableName sysname ,[Rows] int ,[Reserved] varchar(20),[Data] varchar(20),[Index_Size] varchar(20),[Unused] varchar(20),[Reserved_KB] bigint,[Data_KB] bigint,[Index_Size_KB] bigint,[Unused_KB] bigint)
	DECLARE @CMD NVARCHAR(MAX) =''
	SELECT @CMD +='EXEC sp_spaceused ' +  ''''+QUOTENAME(TABLE_SCHEMA)+'.'+ QUOTENAME(replace(TABLE_NAME,'''',''''''))+''''+';'+CHAR(10)
	FROM INFORMATION_SCHEMA.TABLES 
	--print @CMD
	INSERT INTO #SpaceUsed (TableName ,[Rows] , [Reserved], [Data] , [Index_Size] , [Unused] )
	EXEC sp_executesql @CMD
	UPDATE #SpaceUsed 
	SET [Reserved_KB] = CONVERT(BIGINT,RTRIM(LTRIM(REPLACE([Reserved] , ' KB', '')))),
		[Data_KB] = CONVERT(BIGINT,RTRIM(LTRIM(REPLACE([Data] , ' KB', '')))),
		[Index_Size_KB]= CONVERT(BIGINT,RTRIM(LTRIM(REPLACE([Index_Size] , ' KB', '')))),
		[Unused_KB]= CONVERT(BIGINT,RTRIM(LTRIM(REPLACE([Unused] , ' KB', ''))))


	SELECT TableName, [Rows], cast(Reserved_KB/1024.00/1024.00 as decimal(36,2))Reserved_GB , cast(Data_KB/1024.00/1024.00 as decimal(36,2))Data_GB 
	, cast(Index_Size_KB/1024.00/1024.00 as decimal(36,2))Index_GB , cast(Unused_KB/1024.00/1024.00 as decimal(36,2))Unused_GB
	FROM #SpaceUsed
	ORDER BY Data_KB DESC 

	SELECT cast(SUM(Reserved_KB)/1024.00/1024.00 as decimal(36,2)) Reserved_GB , cast(SUM(Data_KB)/1024.00/1024.00 as decimal(36,2)) Data_GB, cast(SUM(Index_Size_KB)/1024.00/1024.00 as decimal(36,2)) Index_Size_GB 
	, cast(SUM(Unused_KB)/1024.00/1024.00 as decimal(36,2)) Unused_GB 
	FROM #SpaceUsed

	DROP TABLE #SpaceUsed
end
GO
