USE [eJarDbReportsQA]
GO
/****** Object:  StoredProcedure [dbo].[RefreshSynonyms]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   Proc [dbo].[RefreshSynonyms] 
as
begin
	declare @DBName varchar(500)

	if ((select value from Reporting.Settings where name=N'SqlJobs.Reporting.SyncMode'))='Live'
	set @DBName=(select dbname from DatabaseRoles where name='main')

	if ((select value from Reporting.Settings where name=N'SqlJobs.Reporting.SyncMode'))='ETL'
	set @DBName=(select dbname from DatabaseRoles where name='ETL')

	if exists (select 1 from sys.synonyms)
	begin
		declare @sql varchar(max)=''
		select @sql=@sql+'Drop synonym '+(name)+';' from sys.synonyms a
		exec (@sql)
	end
	
	set @sql =''

	set @sql = '
	declare @sql varchar(max)=''/**Tables**/''+char(10)+''''

	select @sql=@sql+r.sql from (
	select TOP 100000000 ''CREATE SYNONYM ''+(object_SCHEMA_NAME(object_id,db_id('''+@DBName+''')))+''_''+(name)+'' FOR ''+quotename('''+@DBName+''')+''.''+quotename(object_SCHEMA_NAME(object_id,db_id('''+@DBName+''')))+''.''+quotename(name)+'';''+CHAR(10) sql 
	from '+@DBName+'.sys.tables
	where object_SCHEMA_NAME(object_id,db_id('''+@DBName+''')) not in (''Reporting'') and type=''U'' and name not in (''sysdiagrams'',''__EFMigrationsHistory'')
	and name not like ''%$%'' and name not like ''/_%'' ESCAPE ''/'' and name not like ''%_/'' ESCAPE ''/''
	ORDER BY schema_id,object_id
	) r
	exec (@sql)
	'
	exec (@sql)

	set @sql = '
	declare @sql varchar(max)=char(13)+char(10)+''/**Views**/''+char(10)+''''

	select @sql=@sql+r.sql from (
	select TOP 100000000 ''CREATE SYNONYM ''+(object_SCHEMA_NAME(object_id,db_id('''+@DBName+''')))+''_''+(name)+'' FOR ''+quotename('''+@DBName+''')+''.''+quotename(object_SCHEMA_NAME(object_id,db_id('''+@DBName+''')))+''.''+quotename(name)+'';''+CHAR(10) sql 
	from '+@DBName+'.sys.views
	where object_SCHEMA_NAME(object_id,db_id('''+@DBName+''')) not in (''Reporting'') and type=''V'' and name not in (''sysdiagrams'',''__EFMigrationsHistory'') and name not like ''/_%'' ESCAPE ''/'' and name not like ''%_/'' ESCAPE ''/''
	ORDER BY schema_id,object_id
	) r
	exec (@sql)
	'
	exec (@sql)


	--addin synonyms for Auditing db
	set @DBName=(select dbname from DatabaseRoles where name='Auditing')
	set @sql = '
	declare @sql varchar(max)=char(13)+char(10)+''/**Tables**/''+char(10)+''''

	select @sql=@sql+r.sql from (
	select TOP 100000000 ''CREATE SYNONYM Audit_''+(object_SCHEMA_NAME(object_id,db_id('''+@DBName+''')))+''_''+(name)+'' FOR ''+quotename('''+@DBName+''')+''.''+quotename(object_SCHEMA_NAME(object_id,db_id('''+@DBName+''')))+''.''+quotename(name)+'';''+CHAR(10) sql 
	from '+@DBName+'.sys.tables
	where type=''u'' and name not like ''/_%'' ESCAPE ''/'' and name not like ''%_/'' ESCAPE ''/''
	ORDER BY schema_id,object_id
	) r
	exec (@sql)
	'
	exec (@sql)

end
GO
