/****** Object:  UserDefinedFunction [dbo].[EmailServerInfo_Get]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   FUNCTION [dbo].[EmailServerInfo_Get]()
RETURNS nvarchar(max)
AS

BEGIN
    DECLARE @ServerInfo nvarchar(max);
    
    SELECT @ServerInfo = N'<table>
        <tr>
            <th> SQL Instance </th>
            <td> ' + @@SERVERNAME + N'</td>
        </tr><tr>
            <th> Physical Server </th>
            <td> ' + CAST(SERVERPROPERTY('ComputerNamePhysicalNetBIOS') AS nvarchar(128)) + N'</td>
        </tr><tr>
            <th> Instance Start Time </th>
            <td> ' + (SELECT CONVERT(nvarchar(20),create_date,120) FROM sys.databases WHERE Name = 'tempdb') + N'</td>
        </tr>
    </table>';

    RETURN(@ServerInfo);
END;
GO
