USE [eJarDbReportsQA]
GO
/****** Object:  StoredProcedure [dbo].[ExportToExcel]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[ExportToExcel]
	@databasename varchar(20) = NULL
	,@schemaname varchar(20) = NULL
	,@tablename varchar(20)
	,@filepath varchar(100)=NULL
	,@filename varchar(100)
	,@fullname varchar(100) = NULL output 
	,@params varchar(100) = ''
	,@overwrite bit = 1
	,@deleteold bit = 1
	,@uploadfile bit = 0
	,@uploadonly bit = 0

AS
BEGIN
	declare @inputfile varchar(100),@outputfile varchar(100),@fourpartname varchar(100)

	EXEC sp_configure 'show advanced options',1;reconfigure;
	EXEC sp_configure 'xp_cmdshell',1;reconfigure;

	IF @overwrite = 0
		SET @deleteold = 0
	IF @deleteold = 1
		EXEC xp_cmdshell 'del /f %temp%\*.xls*'

	DECLARE 
    @pivotcolumns NVARCHAR(MAX) = '', 
    @sql     VARCHAR(4000) = '';

	DROP TABLE if EXISTS ##pivottemp
	SET @sql ='SELECT COLUMN_NAME into ##pivottemp FROM ['+ISNULL(@databasename,'tempdb')+'].INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '''+@tablename+''''
	EXEC (@sql)

	-- select table headers
	SELECT @pivotcolumns += QUOTENAME(COLUMN_NAME) + ',' FROM ##pivottemp

	DROP TABLE IF EXISTS ##headers
	SET @sql ='SELECT TOP 0 * INTO ##headers FROM ['+@tablename+']'
	EXEC (@sql)

	declare @idcol nvarchar(100)
	select @idcol=name from tempdb.sys.columns where object_id = OBJECT_ID('tempdb..##headers') and is_identity = 1
	
	SET @sql = 'alter table tempdb..##headers drop column '+@idcol+'
				alter table tempdb..##headers add '+@idcol+' nvarchar(100) NULL'
	EXEC (@sql)

	-- remove the last comma
	SET @pivotcolumns = LEFT(@pivotcolumns, LEN(@pivotcolumns) - 1);

	-- construct dynamic SQL
	SET @sql ='
				SELECT * FROM   (SELECT COLUMN_NAME FROM ##pivottemp) t 
				PIVOT(MAX(COLUMN_NAME) FOR COLUMN_NAME IN ('+ @pivotcolumns +')) AS pivot_table;';

	DECLARE @col varchar(50),@sql1 varchar(1000)
	DECLARE cols cursor for SELECT COLUMN_NAME
	FROM tempdb.INFORMATION_SCHEMA.COLUMNS
	where TABLE_NAME = '##headers'
	OPEN cols
	FETCH cols INTO @col
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @sql1 = 'alter table ##headers alter column ['+@col+'] nvarchar(100)'
		EXEC (@sql1)
		FETCH NEXT FROM cols INTO @col
	END
	CLOSE cols
	DEALLOCATE cols

	-- execute the dynamic SQL
	INSERT ##headers
	EXECUTE (@sql);

	SET @inputfile = IIF(@filepath IS NOT NULL,CONCAT(@filepath,@filename),'%temp%\'+@filename)
	IF RIGHT(@inputfile,4) <> '.csv'
		SET @inputfile += '.csv'
	SET @outputfile = @filename
	IF  RIGHT(@outputfile,5) <> '.xlsx'
		SET @outputfile +='.xlsx'
	IF SUBSTRING(@filename,2,2) <> ':\'
		SET @outputfile = '%temp%\'+@filename+'.xlsx'
	SET @fourpartname = IIF(@databasename IS NOT NULL,CONCAT(@databasename,'.',@schemaname,'.',@tablename),@tablename)

	IF @uploadonly = 0
	BEGIN
		SET @sql = 'bcp "SELECT * FROM ##headers " queryout "%temp%\'+@tablename+'_headers.csv" -T -w -t ","'
		EXEC xp_cmdshell @sql
		SET @sql = 'bcp "SELECT * FROM '+@fourpartname+'" queryout "%temp%\'+@tablename+'_data.csv" -T -w -t ","'
		EXEC xp_cmdshell @sql
		SET @sql = 'copy %temp%\'+@tablename+'_headers.csv + %temp%\'+@tablename+'_data.csv '+@inputfile
		EXEC xp_cmdshell @sql
		SET @sql = 'del /f %temp%\'+@tablename+'_headers.csv && del /f %temp%\'+@tablename+'_data.csv'
		EXEC xp_cmdshell @sql

		SET @sql = 'powershell.exe "Import-CSV '+@inputfile+' | Export-Excel '+@outputfile+@params+'"'
		IF @overwrite = 1
			SET @sql = 'del '+@outputfile+' && ' +@sql

		PRINT @outputfile
		PRINT @sql

		EXEC xp_cmdshell @sql
	END


	IF @deleteold = 1
		EXEC xp_cmdshell 'del /f %temp%\*.csv'

	DECLARE @folder varchar(50)
	DECLARE @table table (folder varchar(50))
	
	INSERT @table
	EXEC xp_cmdshell 'echo %username%'
	
	SELECT @folder = 'c:\users\'+folder+'\appdata\local\temp' FROM @table WHERE folder IS NOT NULL

	IF left(@outputfile,6)='%temp%'
	 SELECT @outputfile = replace(@outputfile,'%temp%',@folder)

	PRINT @outputfile

	SET @fullname = @outputfile

	IF @uploadfile = 1
		BEGIN
			PRINT 'Uploading '+@filename
			SELECT @SQL = 'bcp "SELECT REPLACE(Script,''C:\Reports\Invoices_$''+''(get-date -f yyyy-MM-dd).xlsx'','''+@outputfile+''') FROM eJarDbReports.Jobs.Scripts WHERE Task = ''Upload Attachments''" queryout %temp%\UploadAttachments.ps1 -T -c'
			EXEC xp_cmdshell @SQL
			
			EXEC xp_cmdshell 'powershell %temp%\UploadAttachments.ps1'
			EXEC xp_cmdshell 'del %temp%\UploadAttachments.ps1'
		END
	EXEC sp_configure 'xp_cmdshell',0 reconfigure
	EXEC sp_configure 'show advanced options',0 reconfigure
	--RETURN @fullname
	/*
	SELECT x.* FROM OPENROWSET(BULK 'C:\Users\SQLAGSVC\AppData\Local\Temp\Indebt.csv',SINGLE_NCLOB) a
	CROSS APPLY string_split(BulkColumn,CHAR(10)) x
	*/

END
GO
