USE [eJarDbReportsQA]
GO
/****** Object:  StoredProcedure [dbo].[CreateNextPartitionBigInt]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CreateNextPartitionBigInt] (@TableName nvarchar(250),@ArchiveTableName nvarchar(250), @PartitionFn nvarchar(250), @PartitionSch nvarchar(250),@printOnly int=1)
as
Begin
	--declare @TableName nvarchar(250)='VehiclesUtilization',@ArchiveTableName nvarchar(250)='VehicleUtilization_archive'
	--, @PartitionFn nvarchar(250)='VehiclesUtilizationPartitionFn', @PartitionSch nvarchar(250)='VehiclesUtilizationPartitionSCH',@printOnly int=1
	Declare @DtOldestBoundary AS bigint
	Declare @strFileGroupToBeUsed AS VARCHAR(100)
	Declare @PartitionNumber As int
	Declare @LatestBoundary bigint,@PreLatestBoundary bigint,@Diff int
	Declare @sql varchar(2000)
	
	SELECT @strFileGroupToBeUsed = fg.name, @PartitionNumber = min(p.partition_number), @DtOldestBoundary = min(cast(prv.value as bigint)) 
	--select fg.name, min(p.partition_number),min(cast(prv.value as bigint))
	FROM sys.partitions p 
	INNER JOIN sys.sysobjects tab on tab.id = p.object_id
	INNER JOIN sys.allocation_units au ON au.container_id = p.hobt_id 
	INNER JOIN sys.filegroups fg ON fg.data_space_id = au.data_space_id 
	INNER JOIN SYS.partition_range_values prv ON prv.boundary_id = p.partition_number
	INNER JOIN sys.partition_functions PF ON pf.function_id = prv.function_id
	WHERE tab.name = @TableName AND pf.name = @PartitionFn and p.rows>0
	group by fg.name
		
	select @LatestBoundary=r1.LastValue,@PreLatestBoundary=r2.prelast,@Diff=r1.LastValue-r2.prelast
	--select r1.LastValue,r2.prelast,r1.LastValue-r2.prelast
	from (
		SELECT max(cast(value as bigint)) LastValue
		FROM sys.partitions p 
		INNER JOIN sys.sysobjects tab on tab.id = p.object_id
		INNER JOIN SYS.partition_range_values prv ON prv.boundary_id = p.partition_number
		INNER JOIN sys.partition_functions PF ON pf.function_id = prv.function_id
		WHERE tab.name = @TableName AND pf.name = @PartitionFn
	)r1 
	outer apply (
		SELECT max(cast(value as bigint)) prelast
		FROM sys.partitions pi
		INNER JOIN sys.sysobjects tabi on tabi.id = pi.object_id
		INNER JOIN SYS.partition_range_values prvi ON prvi.boundary_id = pi.partition_number
		INNER JOIN sys.partition_functions PFi ON pfi.function_id = prvi.function_id
		where tabi.name = @TableName AND pfi.name = @PartitionFn and cast(prvi.value as bigint)<>r1.LastValue
	) r2

	set @LatestBoundary=@LatestBoundary+@Diff


	if (SELECT top 1 p.rows
	FROM sys.dm_db_partition_stats AS pstats
	INNER JOIN sys.partitions AS p ON pstats.partition_id = p.partition_id
	INNER JOIN sys.destination_data_spaces AS dds ON pstats.partition_number = dds.destination_id
	INNER JOIN sys.data_spaces AS ds ON dds.data_space_id = ds.data_space_id
	INNER JOIN sys.partition_schemes AS ps ON dds.partition_scheme_id = ps.data_space_id
	INNER JOIN sys.partition_functions AS pf ON ps.function_id = pf.function_id
	INNER JOIN sys.indexes AS i ON pstats.object_id = i.object_id AND pstats.index_id = i.index_id AND dds.partition_scheme_id = i.data_space_id AND i.type <= 1 /* Heap or Clustered Index */
	INNER JOIN sys.index_columns AS ic ON i.index_id = ic.index_id AND i.object_id = ic.object_id AND ic.partition_ordinal > 0
	INNER JOIN sys.columns AS c ON pstats.object_id = c.object_id AND ic.column_id = c.column_id
	LEFT JOIN sys.partition_range_values AS prv ON pf.function_id = prv.function_id AND pstats.partition_number = (CASE pf.boundary_value_on_right WHEN 0 THEN prv.boundary_id ELSE (prv.boundary_id+1) END)
	where OBJECT_NAME(pstats.object_id)=@TableName or @TableName is null
	order by p.partition_number desc)>@Diff
	begin
		Select @DtOldestBoundary Oldest_Boundary , @strFileGroupToBeUsed FileGroupToBeUsed,@PartitionNumber PartitionNumber,@LatestBoundary NewPartitionBoundary
		if @printOnly=0
		begin
			set @sql = 'ALTER TABLE '+@tableName+' SWITCH PARTITION '+cast(@PartitionNumber as nvarchar(50))+' TO '+@ArchivetableName+' PARTITION '+cast(@PartitionNumber as nvarchar(50))
			exec (@sql)
			set @sql = 'Alter Partition Scheme '+@PartitionSch+' NEXT USED '+@strFileGroupToBeUsed
			exec(@sql)
			set @sql='Alter Partition Function '+@PartitionFn+'() SPLIT RANGE ('+LEFT(CONVERT(VARCHAR, @LatestBoundary, 120), 10)+');'
			exec(@sql)
			--set @sql = 'Alter Partition Function '+@PartitionFn+'() MERGE RANGE ('+LEFT(CONVERT(VARCHAR, @DtOldestBoundary, 120), 10)+');'
			--exec(@sql)
		end
		else
		begin
			set @sql = 'ALTER TABLE '+@tableName+' SWITCH PARTITION '+cast(@PartitionNumber as nvarchar(50))+' TO '+@ArchivetableName+' PARTITION '+cast(@PartitionNumber as nvarchar(50))
			print (@sql)
			set @sql = 'Alter Partition Scheme '+@PartitionSch+' NEXT USED '+@strFileGroupToBeUsed
			print(@sql)
			set @sql='Alter Partition Function '+@PartitionFn+'() SPLIT RANGE ('+LEFT(CONVERT(VARCHAR, @LatestBoundary, 120), 10)+');'
			print(@sql)
			--set @sql = 'Alter Partition Function '+@PartitionFn+'() MERGE RANGE ('+LEFT(CONVERT(VARCHAR, @DtOldestBoundary, 120), 10)+');'
			--print(@sql)
		end
	end
	else print 'The current table in normal state and no actions requires.'
End
GO
