USE [master]
GO
/****** Object:  StoredProcedure [dbo].[SparePartsStatusCurve]    Script Date: 30/11/2022 8:37:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROC [dbo].[SparePartsStatusCurve] @WorkshopId varchar(max) = NULL , @Lang varchar(4)
--SparePartsStatusCurve @Lang = 'AR', @WorkshopId = '19,20,2006'
AS
BEGIN
IF LEFT(@Lang,1) <> '$'
	SET @Lang = '$.' + @Lang
SET @Lang = LOWER(@Lang)

;WITH #Workshop AS (SELECT CAST(splitdata as int) WorkshopId FROM dbo.[String_Split](@WorkshopId,','))

SELECT o.SnapshotDate,SparepartStatusId,JSON_VALUE(o.SparepartStatus,@Lang)SparepartStatus,SUM(StatusCount)Count,CAST(SUM(StatusCount)/Total*100 as dec(6,1)) Percentage
FROM OperationSparePartCount o
	LEFT JOIN #Workshop w on w.WorkshopId = o.WorkshopId
	CROSS APPLY (SELECT CAST(SUM(StatusCount) as dec(6,2)) Total 
				FROM OperationSparePartCount i 
				LEFT JOIN #Workshop w on w.WorkshopId = I.WorkshopId
				WHERE i.RepairOrderStatusId NOT IN (55,66,67)
				AND i.SnapshotDate = o.SnapshotDate
				AND (w.WorkshopId IS NOT NULL OR @WorkshopId IS NULL)
				) x
WHERE YEAR(o.SnapshotDate) = YEAR(GETDATE()) AND MONTH(o.SnapshotDate) = MONTH(GETDATE()-1) AND CAST(o.SnapshotDate AS date) < CAST(GETDATE() AS date)
AND o.RepairOrderStatusId NOT IN (55,66,67) AND (o.WorkshopId = -1 OR w.WorkshopId IS NOT NULL OR @WorkshopId IS NULL)
GROUP BY o.SnapshotDate,o.SparepartStatusId,o.SparepartStatus,x.Total
ORDER BY 1,2
END
GO
