USE [eJarDbReportsQA]
GO
/****** Object:  StoredProcedure [Jobs].[BackupAlert]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [Jobs].[BackupAlert]
AS
BEGIN
drop table if exists #BackupDiff
SELECT * INTO #BackupDiff
FROM OPENQUERY([MainDbPrim],'
SELECT b.server_name
	,b.database_name
	,max(b.backup_start_date)as LastBackupDate
	,datediff(minute,max(b.backup_start_date),getdate())diff
	FROM msdb.dbo.backupmediafamily f
INNER JOIN msdb.dbo.backupset b ON f.media_set_id = b.media_set_id
INNER JOIN master.sys.databases d on b.database_name = d.name
LEFT JOIN sys.dm_hadr_database_replica_states c on c.database_id = d.database_id
WHERE d.name not in (''master'',''model'',''msdb'',''it'',''eJarDbProd_2_AfterWork'',''!eJarDbProd_2_Original'',''eJar_RMI'',''Rottery'',''YakeenDbTest'')
AND c.is_primary_replica = 1
and b.server_name=@@SERVERNAME
group by server_name	,b.database_name') 
union all
SELECT * FROM OPENQUERY([MainDbSync],'
SELECT b.server_name
	,b.database_name
	,max(b.backup_start_date)as LastBackupDate
	,datediff(minute,max(b.backup_start_date),getdate())diff
	FROM msdb.dbo.backupmediafamily f
INNER JOIN msdb.dbo.backupset b ON f.media_set_id = b.media_set_id
INNER JOIN master.sys.databases d on b.database_name = d.name
LEFT JOIN sys.dm_hadr_database_replica_states c on c.database_id = d.database_id
WHERE d.name not in (''master'',''model'',''msdb'',''it'',''eJarDbProd_2_AfterWork'',''!eJarDbProd_2_Original'',''eJar_RMI'',''Rottery'',''YakeenDbTest'')
AND c.is_primary_replica = 1
and b.server_name=@@SERVERNAME
group by server_name	,b.database_name') 
union all
SELECT * FROM OPENQUERY([MainDbAsync],'
SELECT b.server_name
	,b.database_name
	,max(b.backup_start_date)as LastBackupDate
	,datediff(minute,max(b.backup_start_date),getdate())diff
	FROM msdb.dbo.backupmediafamily f
INNER JOIN msdb.dbo.backupset b ON f.media_set_id = b.media_set_id
INNER JOIN master.sys.databases d on b.database_name = d.name
LEFT JOIN sys.dm_hadr_database_replica_states c on c.database_id = d.database_id
WHERE d.name not in (''master'',''model'',''msdb'',''it'',''eJarDbProd_2_AfterWork'',''!eJarDbProd_2_Original'',''eJar_RMI'',''Rottery'',''YakeenDbTest'')
AND c.is_primary_replica = 1
and b.server_name=@@SERVERNAME
group by server_name	,b.database_name') 
ORDER BY server_name,database_name

declare @diff int,@body nvarchar(max)
select @diff =max(diff) from (
select database_name,datediff(minute,max(LastBackupDate),getdate()) diff
from #BackupDiff 
group by server_name,database_name) r
select @body = 'Azure backup has a max backup delay = '+convert(nvarchar(50),@diff)

IF NOT EXISTS
(
SELECT 1 FROM OPENQUERY([MainDbPrim],
'SELECT 1 FROM msdb.dbo.sysmail_mailitems WHERE body like ''Azure backup has a max backup delay = %'' AND DATEDIFF(MINUTE,sent_date,getdate()) < 10')
UNION ALL
SELECT 1 FROM OPENQUERY([MainDbSync],
'SELECT 1 FROM msdb.dbo.sysmail_mailitems WHERE body like ''Azure backup has a max backup delay = %'' AND DATEDIFF(MINUTE,sent_date,getdate()) < 10')
UNION ALL
SELECT 1 FROM OPENQUERY([MainDbAsync],
'SELECT 1 FROM msdb.dbo.sysmail_mailitems WHERE body like ''Azure backup has a max backup delay = %'' AND DATEDIFF(MINUTE,sent_date,getdate()) < 10')
)

if @diff > 20

exec msdb..sp_send_dbmail
@recipients  = 'user4@example.com;user5@example.com;user6@example.com',
@subject = 'Backup Sync Alert',
@body= @body;
END
GO
