USE [eJarDbReportsQA]
GO
/****** Object:  StoredProcedure [Jobs].[MonitorDBSync]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [Jobs].[MonitorDBSync]
AS
BEGIN
BEGIN TRY
	
declare @LastDate datetime,@minuteDiff int
select top 1 @LastDate=dateadd(hour,3,ExecutionTime) from [eJarDbAuditingQA]..AbpAuditLogs (nolock) order by id desc
print @LastDate

select @minuteDiff=datediff(MINUTE,@LastDate,getdate())
print @minuteDiff

if @minuteDiff>15 or exists (select 1 from sys.dm_hadr_database_replica_states AS drs WITH (NOLOCK) where drs.synchronization_health_desc<>N'HEALTHY')
begin
	drop table if exists #Res
	SELECT adc.[database_name],ar.availability_mode_desc, drs.is_primary_replica, drs.synchronization_state_desc,
	drs.synchronization_health_desc, drs.database_state_desc
	into #Res
	FROM sys.dm_hadr_database_replica_states AS drs WITH (NOLOCK)
	INNER JOIN sys.availability_databases_cluster AS adc WITH (NOLOCK)
	ON drs.group_id = adc.group_id
	AND drs.group_database_id = adc.group_database_id
	INNER JOIN sys.availability_groups AS ag WITH (NOLOCK)
	ON ag.group_id = drs.group_id
	INNER JOIN sys.availability_replicas AS ar WITH (NOLOCK)
	ON drs.group_id = ar.group_id
	AND drs.replica_id = ar.replica_id
	where ar.replica_server_name=@@SERVERNAME
	ORDER BY ag.name, ar.replica_server_name, adc.[database_name] OPTION (RECOMPILE);
	
	select * from #res

	declare @EmailRecipients varchar(max) = 'itadmin@example.com'--'user4@example.com'--
	declare @EmailSubject varchar(max)= right(replace(CAST(SERVERPROPERTY('ComputerNamePhysicalNetBIOS') AS nvarchar(128)),'00','0'),4)+' Sync Monitor';
	declare @EmailFrom varchar(max)= 'alerts@example.com';
	declare @EmailBody nvarchar(max);
	SELECT @EmailBody = master.dbo.EmailCSS_Get();
    SET @EmailBody = @EmailBody + N'<p><strong><span style="font-size: 30px; color: rgb(184, 49, 47);">Always On stopped !!!</span></strong></p>
<p><span style="font-size: 20px;">Last Audit Log Since <strong> '+cast(@minuteDiff as nvarchar(50))+' minutes ago </strong></span></p>
<p><br></p>
<p><strong>Below is the Sync Health Status</strong></p>' + CHAR(10) +
            N'<table><tr>' +
            N'<th>DatabaseName</th>' +
            N'<th>Sync Mode</th>' +
			N'<th>IsPrimary</th>' +
			N'<th>Sync Status</th>' +
			N'<th>Health Status</th>' +
			N'<th>Database Status</th>' +
            N'</tr>' +
            CAST(( SELECT
                    --td = '<span style="font-weight:bold">'+a.Job+'</span>', '',
                    td = case when isnull(a.synchronization_health_desc,'')<>'HEALTHY' 
						then '<span style="background-color: rgb(184, 49, 47); color: rgb(255, 255, 255);">'
						    +isnull(a.database_name,'')+'</span>'
						else isnull(a.database_name,'') end, '',
					td = case when isnull(a.synchronization_health_desc,'')<>'HEALTHY' 
						then '<span style="background-color: rgb(184, 49, 47); color: rgb(255, 255, 255);">'
						    +isnull(a.availability_mode_desc,'')+'</span>'
						else isnull(a.availability_mode_desc,'') end, '',
					td = case when isnull(a.synchronization_health_desc,'')<>'HEALTHY' 
						then '<span style="background-color: rgb(184, 49, 47); color: rgb(255, 255, 255);">'
						    +cast(isnull(a.is_primary_replica,0) as nvarchar(50))+'</span>'
						else cast(isnull(a.is_primary_replica,0) as nvarchar(50)) end, '',
					td = case when isnull(a.synchronization_health_desc,'')<>'HEALTHY' 
						then '<span style="background-color: rgb(184, 49, 47); color: rgb(255, 255, 255);">'
						    +isnull(a.synchronization_state_desc,'')+'</span>'
						else isnull(a.synchronization_state_desc,'') end, '',
					td = case when isnull(a.synchronization_health_desc,'')<>'HEALTHY' 
						then '<span style="background-color: rgb(184, 49, 47); color: rgb(255, 255, 255);">'
						    +isnull(a.synchronization_health_desc,'')+'</span>'
						else isnull(a.synchronization_health_desc,'') end, '',
					td = case when isnull(a.synchronization_health_desc,'')<>'HEALTHY' 
						then '<span style="background-color: rgb(184, 49, 47); color: rgb(255, 255, 255);">'
						    +isnull(a.database_state_desc,'')+'</span>'
						else isnull(a.database_state_desc,'') end ,''
					from #Res a
					ORDER BY 3
                    FOR XML PATH ('tr'), ELEMENTS
                    ) AS nvarchar(max)) +
            N'</table>';

			SELECT @EmailBody = @EmailBody + '<hr>' + master.dbo.EmailServerInfo_Get();

			SELECT @EmailBody = REPLACE(@EmailBody,'&lt;','<');
			SELECT @EmailBody = REPLACE(@EmailBody,'&gt;','>');

	EXEC msdb.dbo.sp_send_dbmail
		--@profile_name = 'sqlalert',
		@recipients = @EmailRecipients,
		@from_address = @EmailFrom,
		@subject = @EmailSubject,
		@body = @EmailBody,
		@body_format = 'HTML',
		@importance = 'High';
end



	
END TRY

BEGIN CATCH

	SELECT ERROR_NUMBER(),ERROR_SEVERITY(),ERROR_STATE(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE()

END CATCH


END
GO
