USE [eJarDbReportsQA]
GO
/****** Object:  StoredProcedure [Jobs].[ExecuteOnPrimary]    Script Date: 30/11/2022 8:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC 
[Jobs].[ExecuteOnPrimary] @database_name VARCHAR(20),@scope_db VARCHAR(20) = NULL,@command VARCHAR(max),@parameteres NVARCHAR(100) = NULL,@type bit 
--Jobs.ExecuteOnPrimary 'ejardbreports','hihihi',0
--Type 0 = StoredProc,  1 = Query
AS
BEGIN
DECLARE @primay_replica VARCHAR(20)
,@sql VARCHAR(MAX)

SELECT @primay_replica = QUOTENAME(HAGS.primary_replica)
FROM master.sys.availability_groups AS AG
LEFT OUTER JOIN master.sys.dm_hadr_availability_group_states as HAGS ON AG.group_id = HAGS.group_id
INNER JOIN master.sys.availability_replicas AS AR ON AG.group_id = AR.group_id
INNER JOIN master.sys.dm_hadr_availability_replica_states AS HARS ON AR.replica_id = HARS.replica_id AND HARS.is_local = 1
INNER JOIN master.sys.dm_hadr_database_replica_cluster_states AS DRCS ON HARS.replica_id = DRCS.replica_id
WHERE DRCS.database_name = @database_name

if @primay_replica is null set @primay_replica=QUOTENAME(@@SERVERNAME)

IF @type = 0
	BEGIN
		if @primay_replica<>QUOTENAME(@@SERVERNAME)
		begin
			SELECT @sql = CONCAT('EXEC ',@primay_replica,'.',ISNULL(@scope_db,@database_name),'.',@command,' ',ISNULL(@parameteres,''))
			PRINT @sql 
			EXEC(@sql)
		end
		else
		begin
			SELECT @sql = CONCAT('EXEC ',ISNULL(@scope_db,@database_name),'.',@command,' ',ISNULL(@parameteres,''))
			PRINT @sql 
			EXEC(@sql)
		end
	END

IF @type = 1
	BEGIN
		if @primay_replica<>QUOTENAME(@@SERVERNAME)
		begin
			SELECT @sql = CONCAT('EXEC (''USE ',ISNULL(@scope_db,@database_name),CHAR(13),REPLACE(@command,'''',''''''),''') at ',@primay_replica)
			PRINT @sql 
			EXEC(@sql)
		end
		else
		begin
			SELECT @sql = CONCAT('EXEC (''USE ',ISNULL(@scope_db,@database_name),CHAR(13),REPLACE(@command,'''',''''''),''')')
			PRINT @sql 
			EXEC(@sql)
		end
	END

END


/*
select dbo.GetEmailList(@@PROCID,'to')
select dbo.GetEmailList(@@PROCID,'cc')
select dbo.GetEmailList(@@PROCID,'bcc')
select dbo.GetEmailList(@@PROCID,'subject')

select * from ServersDatabasesView
select dbo.GetServerName('main','primary')
*/
GO
